<section class="main-layout">
  <h1 class="main-layout__title main-layout__uptitle">арт — пространство</h1>
  <picture class="main-layout__picture">
    <svg class="main-layout__image" width="1920" height=" 325">
      <use xlink:href="assets/icons/symbols.svg#LENNI"></use>
    </svg>
  </picture>


  <div class="container">
  <h1 class="main-layout__title main-layout__downtitle">
    для людей, горящих сердец и делом место для настоящего
  </h1>

  <div class="main-layout__choice">
    <p class="main-layout__choice-title">Я хочу:</p>

    <div class="main-layout__choice-btns">
      <a href="#" class="btn main-layout__choice-left">Провести мероприятие</a>
      <a href="#" class="btn main-layout__choice-right">Стать арендатором</a>
    </div>
  </div>
</div>
</section>
